h1 {
  color: gold;
  background-color: rgb(15, 14, 12);
}

body {
  background-color: darkred;
  background-image: -webkit-image-set();
}

.shoe-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shoe-card-item {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.shoe-card-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.shoe-card-item h3 {
  margin-bottom: 10px;
}

.shoe-card-item p {
  margin-bottom: 10px;
}

.shoe-card-item .votes {
  font-weight: bold;
}
